<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikerozoff.keyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <!-- Keyboard Addon Declaration -->
        <service
            android:name=".MikeRozoffKeyboardAddon"
            android:label="@string/addon_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="com.anysoftkeyboard.plugins.INPUT_METHOD" />
            </intent-filter>
            <meta-data
                android:name="com.anysoftkeyboard.plugins.INPUT_METHOD"
                android:resource="@xml/addon" />
        </service>

    </application>

</manifest>